@model WebStore.Models.Employee

@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = $"Сотрудник id:{Model.Id}";
}



    <h1>Employee</h1>
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>LastName</dt>
        <dd>@Model.LastName</dd>

        <dt>FirstName</dt>
        <dd>@Model.FirstName</dd>

        <dt>Patronymic</dt>
        <dd>@Model.Patronymic</dd>

        <dt>Age</dt>
        <dd>@Model.Age</dd>

        <dt>BirthDate</dt>
        <dd>@Model.BirthDate</dd>

        <dt>DateFrom</dt>
        <dd>@Model.DateFrom</dd>
    </dl>
    <hr />

    <a asp-action="Index" class="btn btn-default">К списку</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Удалить</a>
